@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500,600');

.navigator {
  font-family: 'Kanit', sans-serif;
  color: white;
  padding: 20px 0;
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 20px;
}
.navigator > .container > .zmdi {
  margin-right: 10px;
}
